## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
sample_list_1=random.sample(range(100),k=80)
print(sample_list_1)

[62, 29, 83, 94, 25, 18, 28, 37, 81, 49, 67, 84, 48, 66, 1, 88, 77, 95, 92, 96, 38, 72, 40, 20, 79, 65, 2, 8, 78, 36, 76, 53, 34, 24, 85, 5, 16, 80, 7, 17, 30, 58, 63, 73, 87, 57, 54, 89, 47, 74, 70, 15, 32, 61, 86, 93, 14, 21, 44, 35, 9, 23, 6, 75, 52, 51, 90, 39, 68, 19, 13, 46, 82, 22, 71, 42, 10, 59, 99, 27]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here
set1=set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
#sample_list_2=random.sample(range(100),k=80)
#sample_list_1
#[random.randrange(10) for i in range(5)]
sample_list_2=[]
for i in range(80):
    number=random.randrange(101) # note: randrange() excludes stop value
    sample_list_2.append(number)
print(sample_list_2)

[96, 13, 93, 18, 7, 30, 11, 77, 31, 59, 95, 6, 100, 97, 89, 36, 79, 23, 39, 7, 62, 81, 38, 80, 98, 34, 58, 99, 18, 46, 52, 46, 74, 34, 83, 82, 49, 5, 91, 14, 1, 24, 24, 67, 83, 80, 30, 17, 27, 28, 78, 56, 65, 63, 90, 13, 41, 74, 20, 89, 67, 100, 56, 68, 16, 7, 55, 24, 95, 98, 35, 32, 74, 87, 19, 7, 31, 63, 75, 55]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2=set(sample_list_2)
print(len(set2))

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here
# Creating empty list
list_unique_set1=[]
# Using loop for to append to the list all elements in set1 that are not present in set2
for i in set1:
    if i not in set2:
        list_unique_set1.append(i)
# Converting list in set
        set3=set(list_unique_set1)
print(set3)

{2, 8, 9, 10, 15, 21, 22, 25, 29, 37, 40, 42, 44, 47, 48, 51, 53, 54, 57, 61, 66, 70, 71, 72, 73, 76, 84, 85, 86, 88, 92, 94}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here
# Creating empty list
list_unique_set2=[]
# Using loop for to append to the list all elements in set2 that are not present in set1
for i in set2:
    if i not in set1:
        list_unique_set2.append(i)
# Converting list in set
        set4=set(list_unique_set2)
print(set4)

{97, 98, 100, 41, 11, 55, 56, 91, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
# Your code here
# Creating empty list
list_shared=[]
# Using loop for to append to the list all elements that are included in both sets
for i in set1:
    if i in set2:
        list_shared.append(i)
# Converting list in set
        set5=set(list_shared)
print(set5)

{1, 5, 6, 7, 13, 14, 16, 17, 18, 19, 20, 23, 24, 27, 28, 30, 32, 34, 35, 36, 38, 39, 46, 49, 52, 58, 59, 62, 63, 65, 67, 68, 74, 75, 77, 78, 79, 80, 81, 82, 83, 87, 89, 90, 93, 95, 96, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [10]:
# Your code here
# Calculating legth for all sets created:
len_set1=len(set1)
len_set2=len(set2)
len_set3=len(set3)
len_set4=len(set4)
len_set5=len(set5)
# Priting legth for all sets created:
print(f'length set1:', len_set1)
print(f'length set2:', len_set2)
print(f'length set3:', len_set3)
print(f'length set4:', len_set4)
print(f'length set5:', len_set5)
# Defining the relationship between sets:
# Length of set1 is componed by shared values of both sets (set5) plus unique values set1 (set3):
if len_set1==len_set5+len_set3:
    print(f'True - length set1 is equal to length set5 plus length set3')
else:
    print('wrong definition')
# Length of set2 is componed by shared values of both sets (set5) plus unique values set2 (set4):
if len_set2==len_set5+len_set4:
    print(f'True - length set2 is equal to length set5 plus length set4')
else:
    print('wrong definition')

length set1: 80
length set2: 57
length set3: 32
length set4: 9
length set5: 48
True - length set1 is equal to length set5 plus length set3
True - length set2 is equal to length set5 plus length set4

#### Create an empty set called `set6`.

In [11]:
# Your code here
set6=set([])
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
# Your code here
set6.update(set3, set5)
print(set6)

{1, 2, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 32, 34, 35, 36, 37, 38, 39, 40, 42, 44, 46, 47, 48, 49, 51, 52, 53, 54, 57, 58, 59, 61, 62, 63, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 99}

#### Check if `set1` and `set6` are equal.

In [13]:
# Your code here
if set1==set6:
    print(f'True - set1 and set6 are equal')
else:
    print(f'False - set1 and set6 are not equal')

True - set1 and set6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [18]:
# Your code here
sum_sets_3_4_5=set.union(set3, set4, set5)
sum_sets_1_2=set.union(set1, set2)
if sum_sets_3_4_5==sum_sets_1_2:
    print(f'True - aggregated values are equal')
else:
    print(f'False - aggregated values are not equal')

True - aggregated values are equal

#### Using the `pop` method, remove the first element from `set1`.

In [25]:
# Your code here
# set1.pop() --> with this formula we eliminate an arbitrary value from the set, as sets are not indexated data structures 
print(set1)
len(set1)
# Duda: por qué después de eliminar un elemento, los demás elementos del set salen ordenados?
# Duda: se puede deshacer el método pop para volver al set original?

{2, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 32, 34, 35, 36, 37, 38, 39, 40, 42, 44, 46, 47, 48, 49, 51, 52, 53, 54, 57, 58, 59, 61, 62, 63, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 99}

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [31]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove=set(list_to_remove)
set1_new=set1-set_to_remove
print(set1_new)

{2, 5, 6, 7, 8, 10, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 27, 28, 30, 32, 34, 35, 36, 37, 38, 40, 42, 44, 46, 47, 48, 52, 53, 54, 57, 58, 62, 63, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96}